body {
    background-color: rgb(243, 206, 192);
}
h3 {
  font-family: Calibri; 
  font-size: 25pt;         
  font-style: normal; 
  font-weight: bold; 
  color:SlateBlue;
  text-align: center; 
  text-decoration: underline
}
table{
    font-family: Calibri; 
    color:white; 
    font-size: 11pt; 
    font-style: normal;
    font-weight: bold;
    text-align: center; 
    background-color: SlateBlue; 
    border-collapse: collapse; 
    border: 2px solid navy
  }