body{
    background-color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    text-align: justify;
}
h1 ,h2{
    text-align: left;
    color:deeppink;
}
.bhanu{
    font-weight: 400;
    color:black;
}
ul li{
    list-style-type: disc;
}
